
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
.main{
    overflow: hidden;

    .main1{
        .main-left{
            img{
                width: 100%;
            }
        }
        .main-right{
            .main-r-l{
                display: none;
            }
            .main-r-r{
                .r-1{
                    margin-left: 22px;
                    .m-right-text-r{
                        margin-left: -50px;
                    }
                }
                .r-2{
                    margin-left: 0px;
                    
                }
               
            }
        }

    }
}
.history{
    overflow: hidden;

    .history1{
        margin-left: -6px;
        overflow: hidden;
        img{
            width: 650px;
            transform: translateX(-150px);
            height: 32vh;
        }
        .his-text{
            margin-top: -50px;
            margin-left: -10px;
            h1{
                font-size: 15px;
                top: 10%;
                font-weight: 600;
            }
            p{
                width: 100%;
                padding-top: 0px;
                padding-bottom: 0px;
                font-size: 12px;
            }
            a{
                padding-top: -10px;
            }
        }
    }
}


.categories{

    .categories1{
        .c-left{
            display: flex;
            flex-wrap: wrap ;
            .c-1{
                .c-text{
                    left: 21%;
                    h2{
                        font-size: 17px;
                    }
                }
            }
            
        }
        .c-right{
            margin-top: 50px;
            .c-right-img{
                .r1-text{
                    left: -72%;
                    top: 90%;
                    h2{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.subscribe{
    overflow: hidden;
    .subscribe1{
        .s-text{
            margin-top: 0px;
            h2{
                font-size: 15px;

            }
            i{
                font-size: 35px;

            }
        }
        .s-email{
            width: 250px;
            margin-left: 0px;
            .s-btn{
                width: 100px;
                left: 95%;
            }
            .s-email1{
                input{
                    width: 215px;
                }
                label{
                    font-size: 15px;
                }
            }
        }
    }
}
.trend{
      .t-prod{
        .resp-tumb{
            display: none;
        
        }
        .resp-tumb1{
            width: 100%;
        }
    }
}

.insta{
    width: 100%;
    i{
        font-size: 28px;
        padding: 20px 20px;
        left: 42%;
        top: 13%;
    }
    .i-imgs{
        height: 500px;   
        .i-img{
            width: 100%;
        }    
    }
}

}

// Medium devices (tablets, 768px and up)
@media (min-width: 576px) and (max-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { 

}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { 

}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) { 

}